@import url(reset.css);
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:wght@400;700&display=swap");
body {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  color: #999999; }

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto; }

.header {
  position: relative;
  width: 100%;
  height: 117vh;
  background: url(./../img/header_bg1.jpg) center no-repeat;
  background-size: cover; }

.heder__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 28px; }

.header__logo {
  font-size: 30px;
  line-height: 1.2;
  font-weight: 700;
  color: #ffffff; }

.header__nav {
  display: flex;
  column-gap: 55px;
  color: #ffffff;
  margin-left: 494px; }

.nav__link {
  position: relative;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  transition: color 0.2s ease-in; }
  .nav__link:after {
    content: "";
    margin-top: 10px;
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #fce38a;
    top: 100%;
    left: 0;
    opacity: 0;
    transition: opacity 0.2s ease-in; }
  .nav__link.active::after {
    opacity: 1; }
  .nav__link.active {
    color: #fce38a; }
  .nav__link:hover {
    color: #fce38a; }
  .nav__link:hover::after {
    opacity: 1; }

.search__link {
  padding-left: 35px; }

.header__text {
  position: relative;
  width: 100%;
  max-width: 850px;
  margin: 0 auto;
  padding-top: 134px;
  text-align: center;
  color: #ffffff; }

.header__subtitle {
  font-family: "Kaushan Script";
  font-size: 72px;
  line-height: 1.2;
  font-weight: 400;
  color: #ffffff;
  padding-bottom: 42px; }

.header__title {
  font-family: Montserrat;
  font-size: 150px;
  line-height: 140px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff; }
  .header__title::after {
    content: "";
    display: block;
    margin: 71px auto;
    width: 60px;
    height: 3px;
    background-color: #ffffff; }

.button {
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  vertical-align: top;
  padding: 9px 33px;
  border: 3px solid #ffffff;
  border-radius: 5px;
  transition: color 0.2s ease-in, background-color 0.2s ease-in; }
  .button:hover {
    background-color: #ffffff;
    color: #fce38a; }

.header__slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 155px; }

.slider__item {
  position: relative;
  padding: 20px 0;
  width: 22%;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 400;
  text-align: left;
  text-transform: uppercase;
  color: #ffffff;
  opacity: 0.7;
  border-top: 3px solid #ffffff; }
  .slider__item b {
    font-size: 24px;
    line-height: 1.2;
    font-weight: 700; }

.slider__item.active {
  opacity: 1; }
  .slider__item.active::before {
    content: "";
    display: block;
    position: absolute;
    top: -3px;
    left: 0;
    width: 70px;
    height: 3px;
    background-color: #f38181;
    z-index: 2; }

.aboutus {
  margin-top: 91px;
  margin-bottom: 110px; }

.section__header {
  text-align: center;
  width: 100%;
  max-width: 954px;
  margin: 0 auto; }

.section__header-subtitle {
  font-family: "Kaushan Script";
  font-size: 24px;
  line-height: 1.2;
  font-weight: 400;
  color: #333333;
  padding-bottom: 23px; }

.section__header-title {
  font-family: Montserrat;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #333333; }
  .section__header-title::after {
    content: "";
    display: block;
    margin: 42px auto;
    display: block;
    width: 60px;
    height: 3px;
    background-color: #f38181; }

.section__header-text {
  font-family: Roboto;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  color: #999999; }

.aboutus__imges {
  display: flex;
  column-gap: 30px;
  margin: 110px 0; }

.imges__item {
  position: relative;
  width: 380px;
  height: 250px;
  box-shadow: 0px 0px 0px 0px #95e1d3;
  transition: box-shadow 0.2s ease-in, transform 0.2s linear; }
  .imges__item:after {
    content: "";
    opacity: 0;
    transition: opacity 0.3s ease-in-out; }
  .imges__item:hover {
    transform: translate3d(-10px, -10px, 0);
    box-shadow: 10px 10px 1px 1px #95e1d3; }
    .imges__item:hover .item__inside {
      visibility: visible;
      transition: 1s;
      z-index: 2; }
  .imges__item:hover:after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: transparent;
    background-image: linear-gradient(to top, #fce38a, #f38181);
    opacity: 0.8; }

.item__inside {
  width: 200px;
  height: 100px;
  position: absolute;
  left: 50%;
  margin-left: -100px;
  top: 55%;
  margin-top: -50px;
  visibility: hidden; }

.inside__icon {
  display: block;
  margin: 0 auto; }

.inside__text {
  padding-top: 15px;
  text-align: center;
  font-family: Montserrat;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff; }

.progress {
  width: 100%;
  background-color: #95e1d3; }

.progress__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center; }

.progress__item {
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  padding: 70px 10px;
  flex: 1 1 0; }
  .progress__item:last-child {
    border-right: 1px solid rgba(255, 255, 255, 0.3); }

.progress__numbers {
  font-family: Montserrat;
  font-size: 72px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  padding-bottom: 10px;
  opacity: 0; }

.viz {
  opacity: 1;
  transition: 1s; }

.progress__text {
  font-family: Montserrat;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff; }

.services {
  margin-bottom: 122px; }

.services__content {
  display: flex;
  padding-top: 47px;
  padding-bottom: 51px; }

.services__item {
  position: relative;
  flex: 1 1 0;
  padding-left: 80px;
  padding-right: 10px; }

.services__icon {
  position: absolute;
  top: 0;
  left: 28px;
  z-index: 1; }

.services__title {
  font-family: Montserrat;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  color: #333333; }

.services__line {
  width: 100%;
  height: 1px;
  margin: 40px 0;
  background-color: #e5e5e5; }

.devices {
  padding: 80px 0 0 0;
  background: url(./../img/devices/devices_bg.jpg) center no-repeat;
  background-size: cover; }

.devices__elements {
  position: relative;
  width: 100%;
  max-width: 535px;
  margin: 0 auto; }

.tablet {
  display: block; }

.phone {
  display: block;
  position: absolute;
  z-index: 1;
  bottom: -90px;
  right: -100px; }

.whatwedo {
  margin-top: 80px; }

.whatwedo__content {
  display: flex;
  justify-content: space-between;
  margin-top: 92px;
  margin-bottom: 120px; }

.whatwedo__block {
  max-width: 50%; }
  .whatwedo__block:img {
    padding-right: 30px; }

.spoiler {
  display: flex;
  flex-direction: column; }

.spoiler__item {
  position: relative;
  min-width: 100%;
  max-height: 240px;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #e5e5e5;
  margin-bottom: 10px;
  flex: 33%; }
  .spoiler__item:last-child {
    margin-bottom: 0px; }

.spoler__title {
  padding-left: 60px;
  padding-top: 4%;
  height: 60px;
  font-family: Montserrat;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  color: #333333;
  border-bottom: 1px solid #e5e5e5; }

.spoiler--icon {
  position: absolute;
  top: 15px;
  left: 16px; }

.spoiler__text {
  display: none;
  max-height: 132px;
  margin-bottom: 28px;
  padding: 21px 55px 0px 20px;
  font-family: Roboto;
  font-size: 15px;
  line-height: 24px;
  font-weight: 300;
  font-style: italic;
  color: #999999;
  overflow-y: scroll; }
