.aboutus {
  margin-top: 91px;
  margin-bottom: 110px;
}

@import "./secton-header";

//  Start section body
.aboutus__imges {
  display: flex;
  column-gap: 30px;
  margin: 110px 0;
}
.imges__item {
  position: relative;
  box-shadow: 0px 0px 0px 0px #95e1d3;
  transition: box-shadow 0.2s ease-in, transform 0.2s linear;

  &:after {
    content: "";
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }

  &:hover {
    transform: translate3d(-10px, -10px, 0);
    box-shadow: 10px 10px 1px 1px #95e1d3;
    .item__inside {
      visibility: visible;
      transition: 1s;
      z-index: 2;
    }
  }

  &:hover:after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: transparent;
    background-image: linear-gradient(to top, #fce38a, #f38181);
    opacity: 0.8;
  }
}
.item__inside {
  width: 200px;
  height: 100px;
  position: absolute;
  left: 50%;
  margin-left: -100px;
  top: 55%;
  margin-top: -50px;
  visibility: hidden;
}
.inside__icon {
  display: block;
  margin: 0 auto;
}
.inside__text {
  padding-top: 15px;
  text-align: center;
  font-family: Montserrat;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}

//  End section body

// Start block progress

.progress {
  width: 100%;
  // height: 270px;

  background-color: #95e1d3;
}

.progress__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.progress__item {
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  padding: 70px 10px;
  flex: 1 1 0;
  &:last-child {
    border-right: 1px solid rgba(255, 255, 255, 0.3);
  }
}

.progress__numbers {
  font-family: Montserrat;
  font-size: 72px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  padding-bottom: 10px;
  opacity: 0;
}

.viz {
  opacity: 1;
  transition: 1s;
}

.progress__text {
  font-family: Montserrat;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
}
