.awards {
  // max-height: 250px;
  background-color: #f8f8f8;
  margin-bottom: 110px;
}

.awards__items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 55px;
  padding-bottom: 40px;
}
