// Start section Header

.header {
  position: relative;
  width: 100%;
  height: 112vh;
  background: url(./../img/header_bg1.jpg) center no-repeat;
  background-size: cover;
}
// Start Logo and Nav
.heder__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 28px;
}
.header__logo a {
  font-size: 30px;
  line-height: 1.2;
  font-weight: 700;
  color: #ffffff;
}

.header__nav {
  display: flex;
  column-gap: 55px;
  color: #ffffff;
  margin-left: 494px;
}
.nav__link {
  position: relative;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  transition: color 0.2s ease-in;
  color: #ffffff;
  &:after {
    content: "";
    margin-top: 10px;
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #fce38a;
    top: 100%;
    left: 0;
    opacity: 0;
    transition: opacity 0.2s ease-in;
  }
  &.active::after {
    opacity: 1;
  }
  &.active {
    color: #fce38a;
  }
  &:hover {
    color: #fce38a;
  }
  &:hover::after {
    opacity: 1;
  }
}
.search__link {
  padding-left: 35px;
}

// End Logo and Nav

// Start Main block header
.header__text {
  position: relative;
  width: 100%;
  max-width: 850px;
  margin: 0 auto;
  padding-top: 70px;
  text-align: center;
  color: #ffffff;
}
.header__subtitle {
  font-family: "Kaushan Script";

  font-size: 72px;
  line-height: 1.2;
  font-weight: 400;
  color: #ffffff;
  padding-bottom: 42px;
}
.header__title {
  font-family: Montserrat;
  font-size: 150px;
  line-height: 140px;
  font-weight: 700;

  text-transform: uppercase;
  color: #ffffff;
  &::after {
    content: "";
    display: block;

    margin: 71px auto;
    width: 60px;
    height: 3px;
    background-color: #ffffff;
  }
}
.button {
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  vertical-align: top;
  padding: 9px 33px;
  font-family: Montserrat;
  color: #ffffff;
  
  border: 3px solid #ffffff;
  border-radius: 5px;
  transition: color 0.2s ease-in, background-color 0.2s ease-in;
  &:hover {
    background-color: #ffffff;
    color: #fce38a;
  }
}
// End Main block header

// Start Slider Header
.header__slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 100px;
}
.slider__item {
  position: relative;
  padding: 20px 0;
  width: 22%;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 400;
  text-align: left;
  text-transform: uppercase;
  color: #ffffff;
  opacity: 0.7;
  border-top: 3px solid #ffffff;

  b {
    font-size: 24px;
    line-height: 1.2;
    font-weight: 700;
  }
}

.slider__item.active {
  opacity: 1;

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: -3px;
    left: 0;
    width: 70px;
    height: 3px;
    background-color: #f38181;
    z-index: 2;
  }
}
// Start Slider Header
