.services {
  margin-bottom: 122px;
}
.services__content {
  display: flex;
  flex-wrap: wrap;
  padding-top: 47px;
  padding-bottom: 51px;
}
.services__item {
  position: relative;
  width: 33%;
  padding: 0 10px 45px 80px;
  margin-bottom: 45px;
  &--border{
    border-bottom: 1px solid #e5e5e5;
  }
}
.services__icon {
  position: absolute;
  top: 0;
  left: 20px;
  z-index: 1;
}
.services__title {
  padding-bottom: 18px;
  font-family: Montserrat;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  color: #333333;
}