.services {
  margin-bottom: 122px;
}
.services__content {
  display: flex;
  // column-gap: 15px;
  padding-top: 47px;
  padding-bottom: 51px;
}
.services__item {
  position: relative;
  flex: 1 1 0;
  padding-left: 80px;
  padding-right: 10px;
}
.services__icon {
  position: absolute;
  top: 0;
  left: 20px;
  z-index: 1;
}
.services__title {
  padding-bottom: 18px;
  font-family: Montserrat;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  color: #333333;
}

.services__line {
  width: 100%;
  height: 1px;
  margin: 45px 0;
  background-color: #e5e5e5;
}
